/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../app/assets/stylesheets/shared/_gallery.css.sass */
.image-container {
  position: relative;
  margin-bottom: 5em;
  background-color: #f7f7f8;
  overflow: auto;
}
/* line 8, ../../app/assets/stylesheets/shared/_gallery.css.sass */
.image-container:hover .arrow.prev {
  left: 0;
}
/* line 11, ../../app/assets/stylesheets/shared/_gallery.css.sass */
.image-container:hover .arrow.next {
  right: 0;
}
/* line 14, ../../app/assets/stylesheets/shared/_gallery.css.sass */
.image-container ul.gallery {
  position: relative;
  width: 400%;
}
/* line 18, ../../app/assets/stylesheets/shared/_gallery.css.sass */
.image-container ul.gallery li {
  float: left;
  width: 25%;
  height: 40em;
  background: none no-repeat 50% 0;
  background-size: 140%;
  border: 2em solid #f7f7f8;
}
/* line 26, ../../app/assets/stylesheets/shared/_gallery.css.sass */
.image-container .arrow {
  top: 2em;
  bottom: 2em;
  z-index: 100;
  position: absolute;
  width: 5em;
  background: #f7f7f8 url(/assets/arrows/left.png) no-repeat center center;
  cursor: pointer;
  font-size: 1em;
  text-indent: -9999px;
}
/* line 37, ../../app/assets/stylesheets/shared/_gallery.css.sass */
.image-container .arrow.prev {
  left: -5em;
  -webkit-transition: left 200ms ease-in;
  -moz-transition: left 200ms ease-in;
  -o-transition: left 200ms ease-in;
  transition: left 200ms ease-in;
}
/* line 40, ../../app/assets/stylesheets/shared/_gallery.css.sass */
.image-container .arrow.prev:hover {
  background-image: url(/assets/arrows/left_hover.png);
}
/* line 42, ../../app/assets/stylesheets/shared/_gallery.css.sass */
.image-container .arrow.prev:active {
  background-image: url(/assets/arrows/left_active.png);
}
/* line 45, ../../app/assets/stylesheets/shared/_gallery.css.sass */
.image-container .arrow.next {
  right: -5em;
  background-image: url(/assets/arrows/right.png);
  -webkit-transition: right 200ms ease-in;
  -moz-transition: right 200ms ease-in;
  -o-transition: right 200ms ease-in;
  transition: right 200ms ease-in;
}
/* line 49, ../../app/assets/stylesheets/shared/_gallery.css.sass */
.image-container .arrow.next:hover {
  background-image: url(/assets/arrows/right_hover.png);
}
/* line 51, ../../app/assets/stylesheets/shared/_gallery.css.sass */
.image-container .arrow.next:active {
  background-image: url(/assets/arrows/right_active.png);
}
/* line 54, ../../app/assets/stylesheets/shared/_gallery.css.sass */
.image-container .dots {
  left: 0;
  right: 0;
  bottom: 3em;
  z-index: 100;
  position: absolute;
  text-align: center;
}
/* line 62, ../../app/assets/stylesheets/shared/_gallery.css.sass */
.image-container .dots li {
  width: 1em;
  height: 1em;
  display: inline-block;
  margin: 0 4px;
  border: 2px solid #f7f7f8;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  cursor: pointer;
  opacity: 0.4;
  -webkit-transition: background 0.5s, opacity 0.5s;
  -moz-transition: background 0.5s, opacity 0.5s;
  -o-transition: background 0.5s, opacity 0.5s;
  transition: background 0.5s, opacity 0.5s;
  text-indent: -999em;
}
/* line 75, ../../app/assets/stylesheets/shared/_gallery.css.sass */
.image-container .dots li.active {
  background: #f7f7f8;
  opacity: 1;
}

@media screen and (max-width: 30em) {
  /* line 81, ../../app/assets/stylesheets/shared/_gallery.css.sass */
  #content .image-container {
    margin-bottom: 2em;
  }
  /* line 84, ../../app/assets/stylesheets/shared/_gallery.css.sass */
  #content .image-container ul.gallery li {
    height: 30em;
    border-width: 1em;
  }
  /* line 88, ../../app/assets/stylesheets/shared/_gallery.css.sass */
  #content .image-container .arrow, #content .image-container .dots {
    display: none;
  }
}
@media screen and (max-width: 20em) {
  /* line 93, ../../app/assets/stylesheets/shared/_gallery.css.sass */
  #content .image-container ul.gallery li {
    height: 20em;
  }
}

/* line 1, ../../app/assets/stylesheets/globals/_layout.css.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* line 5, ../../app/assets/stylesheets/globals/_layout.css.sass */
html {
  position: relative;
  min-width: 32em;
  color: #f7f7f8;
  font: 62.5%/1.5 "Avenir Medium", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 11, ../../app/assets/stylesheets/globals/_layout.css.sass */
html body {
  background-color: #192126;
}
@media screen and (max-width: 30em) {
  /* line 15, ../../app/assets/stylesheets/globals/_layout.css.sass */
  html .girdle {
    padding: 0 2em;
  }
}
/* line 18, ../../app/assets/stylesheets/globals/_layout.css.sass */
html strong {
  font-weight: bold;
  font-weight: 600;
}

/* line 22, ../../app/assets/stylesheets/globals/_layout.css.sass */
.girdle {
  width: 100%;
  margin: 0 auto;
  padding: 0 0.9em;
  max-width: 96em;
}
/* line 27, ../../app/assets/stylesheets/globals/_layout.css.sass */
.girdle:after {
  content: "";
  clear: both;
  display: block;
}

/* line 32, ../../app/assets/stylesheets/globals/_layout.css.sass */
#content {
  padding: 5em 0 4em;
  background-color: #6498b3;
}
/* line 8, ../../app/assets/stylesheets/shared/_mixins.css.sass */
#content:after {
  content: "";
  clear: both;
  display: block;
}
@media screen and (max-width: 30em) {
  /* line 32, ../../app/assets/stylesheets/globals/_layout.css.sass */
  #content {
    padding-top: 2em;
  }
}
/* line 40, ../../app/assets/stylesheets/globals/_layout.css.sass */
#content h1, #content h2, #content h3 {
  font-size: 4.8em;
  line-height: 1.5em;
}
/* line 44, ../../app/assets/stylesheets/globals/_layout.css.sass */
#content h2 {
  font-size: 3em;
  margin: 1em 0 0.3em;
  border-bottom: 5px solid #222222;
}
/* line 49, ../../app/assets/stylesheets/globals/_layout.css.sass */
#content h3 {
  margin: 0.3em 0em;
  border-bottom: 2px solid #222222;
  font-size: 2em;
}
/* line 54, ../../app/assets/stylesheets/globals/_layout.css.sass */
#content p {
  font-size: 1.5em;
  font-weight: lighter;
  margin: 0 0 1.5em;
}
/* line 59, ../../app/assets/stylesheets/globals/_layout.css.sass */
#content a {
  color: white;
  text-decoration: none;
}
/* line 62, ../../app/assets/stylesheets/globals/_layout.css.sass */
#content a:hover {
  text-shadow: white 0 0 1px;
}
/* line 64, ../../app/assets/stylesheets/globals/_layout.css.sass */
#content a:active {
  color: #4c6473;
  text-shadow: #192126 0 -1px 0;
}

/* line 1, ../../app/assets/stylesheets/_header.css.sass */
header {
  padding-bottom: 5em;
  background-color: #f7f7f8;
}
/* line 5, ../../app/assets/stylesheets/_header.css.sass */
header h1 {
  position: relative;
  float: left;
  width: 38.1em;
  height: 7.3em;
  margin: 2.8em 0;
  font-size: 1em;
}
/* line 13, ../../app/assets/stylesheets/_header.css.sass */
header h1:hover .subtext {
  opacity: 1;
}
/* line 16, ../../app/assets/stylesheets/_header.css.sass */
header h1 a, header h1 .subtext {
  top: 0;
  left: 0;
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background: url(/assets/logo.png) no-repeat left top;
  background-size: contain;
  text-indent: -9999px;
}
/* line 28, ../../app/assets/stylesheets/_header.css.sass */
header h1 .subtext {
  z-index: 5;
  background: url(/assets/logo_subtext.png) no-repeat left top;
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  -o-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
}
/* line 34, ../../app/assets/stylesheets/_header.css.sass */
header nav {
  float: right;
}
/* line 37, ../../app/assets/stylesheets/_header.css.sass */
header nav li {
  float: left;
  margin: 4.1em 1.78571em 0;
  color: #6498b3;
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 44, ../../app/assets/stylesheets/_header.css.sass */
header nav li.current {
  border-bottom: 2px solid #6498b3;
}
/* line 47, ../../app/assets/stylesheets/_header.css.sass */
header nav li a {
  color: #192126;
  text-decoration: none;
  -webkit-transition: color 100ms ease;
  -moz-transition: color 100ms ease;
  -o-transition: color 100ms ease;
  transition: color 100ms ease;
}
/* line 51, ../../app/assets/stylesheets/_header.css.sass */
header nav li a:hover {
  color: #83a44a;
}
/* line 53, ../../app/assets/stylesheets/_header.css.sass */
header nav li a:active {
  color: #6498b3;
}
/* line 56, ../../app/assets/stylesheets/_header.css.sass */
header #mantra {
  clear: both;
  float: none;
  width: auto;
  height: auto;
  margin: 0;
  color: #6498b3;
  font-size: 8em;
  font-weight: bold;
  line-height: 1em;
  text-align: center;
  text-shadow: #567182 0 -1px 0;
}
@media screen and (max-width: 45.3125em) {
  /* line 70, ../../app/assets/stylesheets/_header.css.sass */
  header nav ul li {
    margin-left: 0.78571em;
    margin-right: 0.78571em;
  }
}
@media screen and (max-width: 40.625em) {
  /* line 75, ../../app/assets/stylesheets/_header.css.sass */
  header h1#logo {
    width: 50%;
    margin-bottom: 1.4em;
  }
  /* line 79, ../../app/assets/stylesheets/_header.css.sass */
  header nav ul li {
    margin-top: 3.1em;
  }
}
@media screen and (max-width: 30em) {
  /* line 1, ../../app/assets/stylesheets/_header.css.sass */
  header {
    padding-bottom: 2em;
  }
  /* line 85, ../../app/assets/stylesheets/_header.css.sass */
  header h1#logo {
    width: 100%;
    margin-bottom: 0;
  }
  /* line 89, ../../app/assets/stylesheets/_header.css.sass */
  header nav {
    width: 100%;
  }
  /* line 92, ../../app/assets/stylesheets/_header.css.sass */
  header nav ul li {
    width: 33%;
    margin: 1.5em 0;
    text-align: center;
  }
  /* line 97, ../../app/assets/stylesheets/_header.css.sass */
  header nav ul li.current {
    border-bottom: none;
  }
  /* line 99, ../../app/assets/stylesheets/_header.css.sass */
  header #mantra {
    text-shadow: none;
  }
}
@media screen and (max-width: 20em) {
  /* line 103, ../../app/assets/stylesheets/_header.css.sass */
  header nav ul li {
    margin: 0.25em 0 1.5em;
  }
}

/* line 1, ../../app/assets/stylesheets/_footer.css.sass */
footer {
  height: 8em;
  background-color: #192126;
}
/* line 5, ../../app/assets/stylesheets/_footer.css.sass */
footer p {
  font-size: 1.4em;
  line-height: 5.71429em;
  text-shadow: 0 1px 0 black;
}

/* line 2, ../../app/assets/stylesheets/home.css.sass */
#content.home p {
  font-size: 2.4em;
  text-shadow: #52585c 0 1px 0;
}
/* line 6, ../../app/assets/stylesheets/home.css.sass */
#content.home .image-container .gallery li {
  cursor: pointer;
}
/* line 8, ../../app/assets/stylesheets/shared/_mixins.css.sass */
#content.home .team:after {
  content: "";
  clear: both;
  display: block;
}
/* line 12, ../../app/assets/stylesheets/home.css.sass */
#content.home .team h1 {
  float: left;
  width: 24%;
  font-size: 1em;
  line-height: 1em;
  text-align: right;
  text-transform: uppercase;
}
/* line 20, ../../app/assets/stylesheets/home.css.sass */
#content.home .team h1 .slabtext {
  line-height: 1em;
}
/* line 23, ../../app/assets/stylesheets/home.css.sass */
#content.home .team .people {
  float: right;
  width: 73%;
}
/* line 8, ../../app/assets/stylesheets/shared/_mixins.css.sass */
#content.home .team .people:after {
  content: "";
  clear: both;
  display: block;
}
/* line 28, ../../app/assets/stylesheets/home.css.sass */
#content.home .team .people li {
  float: left;
  width: 30%;
  height: 14em;
  margin-left: 5%;
  background: url(/assets/team/zach.jpg) no-repeat right top;
  border: 1.5em solid #f7f7f8;
  font-size: 1em;
  -webkit-transition-property: margin, height, background;
  -moz-transition-property: margin, height, background;
  -o-transition-property: margin, height, background;
  transition-property: margin, height, background;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 40, ../../app/assets/stylesheets/home.css.sass */
#content.home .team .people li:hover {
  height: 16.4em;
  margin-bottom: 2.6em;
  background-position: right -120px;
}
/* line 45, ../../app/assets/stylesheets/home.css.sass */
#content.home .team .people li.zach {
  margin-left: 0;
}
/* line 47, ../../app/assets/stylesheets/home.css.sass */
#content.home .team .people li.andrew {
  background-image: url(/assets/team/andrew.jpg);
}
/* line 49, ../../app/assets/stylesheets/home.css.sass */
#content.home .team .people li.alyssa {
  background-image: url(/assets/team/alyssa.jpg);
}
@media screen and (max-width: 45.3125em) {
  /* line 54, ../../app/assets/stylesheets/home.css.sass */
  #content.home section.team h1 {
    display: none;
  }
  /* line 57, ../../app/assets/stylesheets/home.css.sass */
  #content.home section.team .people {
    float: none;
    width: 100%;
  }
}
@media screen and (max-width: 30em) {
  /* line 62, ../../app/assets/stylesheets/home.css.sass */
  #content.home section.team .people li {
    background-position: center top;
    border-width: 1em;
  }
  /* line 66, ../../app/assets/stylesheets/home.css.sass */
  #content.home section.team .people li:hover {
    height: 14em;
    margin-bottom: 0;
    background-position: center top;
  }
}
@media screen and (max-width: 20em) {
  /* line 72, ../../app/assets/stylesheets/home.css.sass */
  #content.home section.team .people li {
    width: 100%;
    height: 18.3em;
    margin: 0 0 2em;
    background-position: right top;
    background-size: cover;
  }
  /* line 79, ../../app/assets/stylesheets/home.css.sass */
  #content.home section.team .people li:hover {
    height: 18.3em;
    margin-bottom: 2em;
    background-position: right top;
  }
}

/* line 2, ../../app/assets/stylesheets/_team.css.sass */
#content.team section.body-copy {
  width: 60%;
  float: left;
}
/* line 6, ../../app/assets/stylesheets/_team.css.sass */
#content.team section.photo {
  width: 35%;
  float: right;
}
/* line 10, ../../app/assets/stylesheets/_team.css.sass */
#content.team section.photo img {
  width: 100%;
  float: right;
  display: block;
  max-width: 285px;
  margin-top: 4em;
  border: 10px solid white;
}

/* line 3, ../../app/assets/stylesheets/work.css.sass */
#content.work .case-study .project {
  display: none;
}
/* line 6, ../../app/assets/stylesheets/work.css.sass */
#content.work .case-study h1 {
  margin: 0 0 0.33333em;
  background: #6498b3;
  font-size: 3em;
  font-weight: bold;
  line-height: 1em;
  text-shadow: #52585c 0 1px 0;
}
/* line 14, ../../app/assets/stylesheets/work.css.sass */
#content.work .case-study p {
  font-size: 2.4em;
  font-weight: light;
  text-shadow: #52585c 0 1px 0;
}
/* line 8, ../../app/assets/stylesheets/shared/_mixins.css.sass */
#content.work .case-study ul:after {
  content: "";
  clear: both;
  display: block;
}
/* line 22, ../../app/assets/stylesheets/work.css.sass */
#content.work .case-study ul li {
  float: left;
  width: 22%;
  height: 15em;
  margin-right: 4%;
  background: url(/assets/) no-repeat;
  border: 1.5em solid #f7f7f8;
  font-size: 1em;
  -webkit-transition: background-position 500ms ease-in;
  -moz-transition: background-position 500ms ease-in;
  -o-transition: background-position 500ms ease-in;
  transition: background-position 500ms ease-in;
}
/* line 32, ../../app/assets/stylesheets/work.css.sass */
#content.work .case-study ul li:last-child {
  margin: 0;
}
/* line 36, ../../app/assets/stylesheets/work.css.sass */
#content.work .case-study[data-project=ruby-heroes] .ruby-heroes {
  display: block;
}
/* line 38, ../../app/assets/stylesheets/work.css.sass */
#content.work .case-study[data-project=ruby-heroes] ul li {
  background-position: center 0;
}
/* line 42, ../../app/assets/stylesheets/work.css.sass */
#content.work .case-study[data-project=roomies] .roomies {
  display: block;
}
/* line 44, ../../app/assets/stylesheets/work.css.sass */
#content.work .case-study[data-project=roomies] ul li {
  background-position: center -12em;
}
/* line 48, ../../app/assets/stylesheets/work.css.sass */
#content.work .case-study[data-project=firehouse] .firehouse {
  display: block;
}
/* line 50, ../../app/assets/stylesheets/work.css.sass */
#content.work .case-study[data-project=firehouse] ul li {
  background-position: center -24em;
}
/* line 54, ../../app/assets/stylesheets/work.css.sass */
#content.work .case-study[data-project=feedpage] .feedpage {
  display: block;
}
/* line 56, ../../app/assets/stylesheets/work.css.sass */
#content.work .case-study[data-project=feedpage] ul li {
  background-position: center -36em;
}
@media screen and (max-width: 30em) {
  /* line 60, ../../app/assets/stylesheets/work.css.sass */
  #content.work .case-study ul {
    margin-bottom: 1em;
  }
  /* line 63, ../../app/assets/stylesheets/work.css.sass */
  #content.work .case-study ul li {
    width: 48%;
    margin: 0 0 4%;
  }
  /* line 67, ../../app/assets/stylesheets/work.css.sass */
  #content.work .case-study ul li:nth-child(even) {
    float: right;
  }
}
@media screen and (max-width: 20em) {
  /* line 71, ../../app/assets/stylesheets/work.css.sass */
  #content.work .case-study ul li {
    border-width: 1em;
  }
}

/* line 2, ../../app/assets/stylesheets/contact.css.sass */
#content.contact form {
  z-index: 10;
  position: relative;
  width: 100%;
  padding: 4em;
  background: #f7f7f8;
  -webkit-transition: opacity 300ms ease-in;
  -moz-transition: opacity 300ms ease-in;
  -o-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}
/* line 10, ../../app/assets/stylesheets/contact.css.sass */
#content.contact form fieldset ol li {
  padding: 0 1.5em;
  border-left: 3px solid transparent;
  -webkit-transition: border-color 100ms ease;
  -moz-transition: border-color 100ms ease;
  -o-transition: border-color 100ms ease;
  transition: border-color 100ms ease;
}
/* line 15, ../../app/assets/stylesheets/contact.css.sass */
#content.contact form fieldset ol li.string {
  float: left;
  width: 50%;
  height: 5em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
}
/* line 21, ../../app/assets/stylesheets/contact.css.sass */
#content.contact form fieldset ol li.string:nth-child(even) {
  padding-right: 0;
}
/* line 24, ../../app/assets/stylesheets/contact.css.sass */
#content.contact form fieldset ol li.text {
  float: left;
  width: 100%;
  margin: 4em 0 2em;
}
/* line 29, ../../app/assets/stylesheets/contact.css.sass */
#content.contact form fieldset ol li.text label {
  width: 100%;
}
/* line 32, ../../app/assets/stylesheets/contact.css.sass */
#content.contact form fieldset ol li.action {
  padding: 0;
}
/* line 35, ../../app/assets/stylesheets/contact.css.sass */
#content.contact form fieldset ol li.action input {
  float: right;
  width: auto;
  height: 1em;
  color: #3d3f42;
  cursor: pointer;
  line-height: 1em;
  text-transform: uppercase;
  -webkit-transition: color 100ms ease;
  -moz-transition: color 100ms ease;
  -o-transition: color 100ms ease;
  transition: color 100ms ease;
}
/* line 45, ../../app/assets/stylesheets/contact.css.sass */
#content.contact form fieldset ol li.action input:focus, #content.contact form fieldset ol li.action input:hover {
  color: #698a30;
}
/* line 48, ../../app/assets/stylesheets/contact.css.sass */
#content.contact form fieldset ol li.action input:active {
  color: #467c99;
}
/* line 52, ../../app/assets/stylesheets/contact.css.sass */
#content.contact form fieldset ol li.action input[disabled], #content.contact form fieldset ol li.action input[disabled]:hover, #content.contact form fieldset ol li.action input[disabled]:focus, #content.contact form fieldset ol li.action input[disabled]:active {
  color: #e4e5e7;
  cursor: default;
}
/* line 56, ../../app/assets/stylesheets/contact.css.sass */
#content.contact form fieldset ol li:hover label, #content.contact form fieldset ol li.completed label {
  color: #467c99;
}
/* line 59, ../../app/assets/stylesheets/contact.css.sass */
#content.contact form fieldset ol li.focus {
  border-left-color: #83a44a;
}
/* line 62, ../../app/assets/stylesheets/contact.css.sass */
#content.contact form fieldset ol li.focus label {
  color: #467c99;
}
/* line 65, ../../app/assets/stylesheets/contact.css.sass */
#content.contact form fieldset ol li.error {
  border-left-color: #994646;
}
/* line 68, ../../app/assets/stylesheets/contact.css.sass */
#content.contact form fieldset ol li.error label {
  color: #994646;
}
/* line 71, ../../app/assets/stylesheets/contact.css.sass */
#content.contact form fieldset ol li label, #content.contact form fieldset ol li input, #content.contact form fieldset ol li textarea {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 2.4em;
  line-height: 2.08333em;
}
/* line 78, ../../app/assets/stylesheets/contact.css.sass */
#content.contact form fieldset ol li label, #content.contact form fieldset ol li input {
  height: 2.08333em;
}
/* line 81, ../../app/assets/stylesheets/contact.css.sass */
#content.contact form fieldset ol li label {
  margin-right: 0.625em;
  color: rgba(70, 124, 153, 0.5);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: color 100ms ease;
  -moz-transition: color 100ms ease;
  -o-transition: color 100ms ease;
  transition: color 100ms ease;
}
/* line 87, ../../app/assets/stylesheets/contact.css.sass */
#content.contact form fieldset ol li label abbr {
  display: none;
}
/* line 90, ../../app/assets/stylesheets/contact.css.sass */
#content.contact form fieldset ol li input, #content.contact form fieldset ol li textarea {
  width: 50%;
  background: none;
  color: #3d3f42;
}
/* line 95, ../../app/assets/stylesheets/contact.css.sass */
#content.contact form fieldset ol li input::-webkit-input-placeholder, #content.contact form fieldset ol li textarea::-webkit-input-placeholder {
  font-size: 0.83333em;
}
/* line 98, ../../app/assets/stylesheets/contact.css.sass */
#content.contact form fieldset ol li input:focus, #content.contact form fieldset ol li textarea:focus {
  outline: none;
}
/* line 101, ../../app/assets/stylesheets/contact.css.sass */
#content.contact form fieldset ol li input:focus::-webkit-input-placeholder, #content.contact form fieldset ol li textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 500ms ease;
  -webkit-transition-delay: 500ms;
  -moz-transition: opacity 500ms ease 500ms;
  -o-transition: opacity 500ms ease 500ms;
  transition: opacity 500ms ease 500ms;
}
/* line 105, ../../app/assets/stylesheets/contact.css.sass */
#content.contact form fieldset ol li input {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/* line 108, ../../app/assets/stylesheets/contact.css.sass */
#content.contact form fieldset ol li textarea {
  width: 100%;
  resize: none;
}
/* line 112, ../../app/assets/stylesheets/contact.css.sass */
#content.contact .container {
  position: relative;
}
/* line 115, ../../app/assets/stylesheets/contact.css.sass */
#content.contact .container .thanks {
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  position: absolute;
  font-weight: bold;
  text-align: center;
  text-shadow: #52585c 0 1px 0;
}
/* line 125, ../../app/assets/stylesheets/contact.css.sass */
#content.contact .container + p {
  margin: 0;
  font-size: 2.4em;
  line-height: 2em;
  text-shadow: #52585c 0 1px 0;
}
@media screen and (max-width: 50.625em) {
  /* line 132, ../../app/assets/stylesheets/contact.css.sass */
  #content.contact form fieldset ol li.string {
    height: auto;
    display: block;
  }
  /* line 136, ../../app/assets/stylesheets/contact.css.sass */
  #content.contact form fieldset ol li.string label, #content.contact form fieldset ol li.string input {
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 30em) {
  /* line 142, ../../app/assets/stylesheets/contact.css.sass */
  #content.contact form fieldset ol li.string, #content.contact form fieldset ol li.text {
    float: none;
    width: 100%;
    margin: 0 0 3em;
  }
}
