!!! 5
%html
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
    :css
      body {
        width: 90%;
        margin: 5%;
        padding: 0;
        color: #333;
        font-family: 'Avenir Medium', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
      }

      p {
        margin: 0.5em 0;
        line-height: 1.5em;
      }

  %body
    %p= @message

    %br
    %p --
    %p= @name
