.image-container
  position: relative
  margin-bottom: 5em
  background-color: $white
  overflow: auto

  &:hover
    .arrow.prev
      left: 0

    .arrow.next
      right: 0

  ul.gallery
    position: relative
    width: 400%

    li
      float: left
      width: 25%
      height: 40em
      background: none no-repeat 50% 0
      background-size: 140%
      border: 2em solid $white

  .arrow
    top: 2em
    bottom: 2em
    z-index: 100
    position: absolute
    width: 5em
    background: $white image-url('arrows/left.png') no-repeat center center
    cursor: pointer
    font-size: 1em
    text-indent: -9999px

    &.prev
      left: -5em
      +single-transition(left, 200ms, ease-in)
      &:hover
        background-image: image-url('arrows/left_hover.png')
      &:active
        background-image: image-url('arrows/left_active.png')

    &.next
      right: -5em
      background-image: image-url('arrows/right.png')
      +single-transition(right, 200ms, ease-in)
      &:hover
        background-image: image-url('arrows/right_hover.png')
      &:active
        background-image: image-url('arrows/right_active.png')
  
  .dots
    left: 0
    right: 0
    bottom: 3em
    z-index: 100
    position: absolute
    text-align: center

    li
      width: 1em
      height: 1em
      display: inline-block
      margin: 0 4px
      border: 2px solid $white
      +border-radius(6px)
      +box-shadow(rgba(0,0,0,.3) 0 1px 2px)
      cursor: pointer
      opacity: .4
      +transition(background .5s, opacity .5s)
      text-indent: -999em

      &.active
        background: $white
        opacity: 1

#content
  @media screen and (max-width: 30em)
    .image-container
      margin-bottom: 2em

      ul.gallery li
        height: 30em
        border-width: 1em

      .arrow, .dots
        display: none

  @media screen and (max-width: 20em)
    .image-container
      ul.gallery li
        height: 20em
