- @title = 'Home'
- @content_class = 'home'

%h1#mantra Because regular code just isnt clever enough.

.image-container
  %section.gallery
    .gallery-slider
      #ruby-heroes
      #roomies
      #firehouse
      #feedpage
      #tumblefeed

%p Bacon ipsum dolor sit amet bresaola jowl jerky, leberkas bacon meatloaf biltong rump. Shank pastrami jowl biltong. Jowl frankfurter swine, meatball turkey bresaola tri-tip. Bresaola speck bacon meatball, prosciutto tenderloin ham ball tip. Spare ribs hamburger flank, pork pork loin pork chop shank tail shankle.

%p Jowl short loin meatloaf, shoulder pork bresaola cow biltong ham pork belly ground round spare ribs pork chop. T-bone speck turkey, turducken beef meatball pork chop leberkas biltong frankfurter. Tail ham pork loin ground round chuck, pork shank corned beef hamburger beef ribs rump. Shankle fatback turducken, tri-tip bresaola drumstick boudin venison beef ribs speck kielbasa cow shank jerky t-bone.

