- @title = 'Home'
- @content_class = 'home'
- @mantra = 'Because regular code just isnt clever enough.'

.image-container
  %ul.gallery
    %li{ style: 'background-image: url(/assets/work/professionals.jpg)' }
    %li{ style: 'background-image: url(/assets/work/unlock_her_freedom.jpg)' }
    %li{ style: 'background-image: url(/assets/work/ruby_heroes.jpg)' }
    %li{ style: 'background-image: url(/assets/work/roomies.jpg)' }
    %li{ style: 'background-image: url(/assets/work/firehouse.jpg)' }
    %li{ style: 'background-image: url(/assets/work/feedpage.jpg)' }

%p
  %strong Welcome to cleverCode.
  We are a small web studio in the lovely Orlando, Florida.
  = link_to 'We design and create beautiful interfaces.', work_path
  We want you acheive anything you can dream of, and we've got
  = link_to 'more than enough brilliant minds', root_path
  to make it happen. Whether you've got a new idea or an old one just sitting
  there, we can bring it to life. We love programming,
  = link_to 'so please, let us build you something.', contact_path

%section.team
  %h1
    %span.slabtext More&nbsp;than&nbsp;enough
    %strong
      %span.slabtext brilliant
    %strong
      %span.slabtext minds

  %ul.people
    %li.zach
    %li.andrew
    %li.alyssa
