- @title = 'Work'
- @content_class = 'work ruby-heroes'

%h1 Ruby Heroes
.image-container
  %section.gallery
    .gallery-slider
      #ruby-heroes
      #roomies
      #firehouse
      #feedpage
      #tumblefeed

%p I don't think that we should blame our problems all on Tony. Tony's not the only deadbeat in this band.

