- @title = 'Work'
- @content_class = 'work ruby-heroes'
- @mantra = 'We design and create beautiful interfaces.'

.image-container
  %ul.gallery
    %li{ style: 'background-image: url(/assets/work/ruby_heroes.jpg)' }
    %li{ style: 'background-image: url(/assets/work/roomies.jpg)' }
    %li{ style: 'background-image: url(/assets/work/firehouse.jpg)' }
    %li{ style: 'background-image: url(/assets/work/feedpage.jpg)' }

%section.case-study{ data: { project: 'ruby-heroes' }}
  .project.ruby-heroes
    %h1 Ruby Hero Awards
    %p
      We were approached to come up with a redesign of rubyheroes.com. At the
      time, we had a graphic designer at hand, so we were able to produce a
      custom mascot and logo for the project. Needless to say, we were quite
      pleased with how it turned out.

  .project.roomies
    %h1 Roomies
    %p
      Roomies is a task and expense management application. It's an internal
      project we are continually working on, adding to, and improving upon. From
      its inception and throughout the entire process, it's been one of our
      favorite things to work on.

  .project.firehouse
    %h1 Firehouse
    %p
      The owner of one of the local Firehouse Subs in Winter Park, FL
      approached us to come up with an online ordering system for students at
      Full Sail University. We came up with a wonderful desktop and mobile web
      app that fit exactly what she needed.

  .project.feedpage
    %h1 Feedpage
    %p
      Feedpage was one of the very first projects we worked on at cleverCode. It
      was a web app designed to offer customers one location from which they
      could launch and communicate on the marketing campaigns directly to their
      customers on social networks.

  %ul
    %li{ style: 'background-image: url(/assets/work/thumbs/1.jpg)' }
    %li{ style: 'background-image: url(/assets/work/thumbs/2.jpg)' }
    %li{ style: 'background-image: url(/assets/work/thumbs/3.jpg)' }
    %li{ style: 'background-image: url(/assets/work/thumbs/4.jpg)' }
