#content.contact
  form
    z-index: 10
    position: relative
    width: 100%
    padding: 4em
    background: $white
    +single-transition(opacity, 300ms, ease-in)

    fieldset ol li
      padding: 0 1.5em
      border-left: 3px solid transparent
      +single-transition(border-color, 100ms, ease)

      &.string
        float: left
        width: 50%
        height: 5em
        +flex-box()

        &:nth-child(even)
          padding-right: 0

      &.text
        float: left
        width: 100%
        margin: 4em 0 2em

        label
          width: 100%

      &.action
        padding: 0

        input
          float: right
          width: auto
          height: 1em
          color: $gray-dark
          cursor: pointer
          line-height: 1em
          text-transform: uppercase
          +single-transition(color, 100ms, ease)

          &:focus, &:hover
            color: $cc-green-text

          &:active
            color: $cc-blue-text

          &[disabled]
            &, &:hover, &:focus, &:active
              color: $gray
              cursor: default

      &:hover label, &.completed label
        color: $cc-blue-text

      &.focus
        border-left-color: $cc-green

        label
          color: $cc-blue-text

      &.error
        border-left-color: $red

        label
          color: $red

      label, input, textarea
        margin: 0
        padding: 0
        border: none
        font-size: 2.4em
        line-height: 2.083333333em

      label, input
        height: 2.083333333em

      label
        margin-right: 0.625em
        color: transparentize($cc-blue-text, 0.5)
        +ellipsize()
        +single-transition(color, 100ms, ease)

        abbr
          display: none

      input, textarea
        width: 50%
        background: none
        color: $gray-dark

        &::-webkit-input-placeholder
          font-size: 0.833333333em

        &:focus
          outline: none

          &::-webkit-input-placeholder
            opacity: 0
            +single-transition(opacity, 500ms, ease, 500ms)

      input
        +flex-box-columns(1)

      textarea
        width: 100%
        resize: none

  .container
    position: relative

    .thanks
      top: 0
      left: 0
      right: 0
      z-index: 5
      position: absolute
      font-weight: bold
      text-align: center
      text-shadow: tint($cc-blue-dark, 25%) 0 1px 0

    + p
      margin: 0
      font-size: 2.4em
      line-height: 2em
      text-shadow: tint($cc-blue-dark, 25%) 0 1px 0

  @media screen and (max-width: 50.625em)
    form fieldset ol li.string
      height: auto
      display: block

      label, input
        width: 100%
        margin: 0

  @media screen and (max-width: 30em)
    form fieldset ol li
      &.string, &.text
        float: none
        width: 100%
        margin: 0 0 3em
