#content.home
  p
    font-size: 2.4em
    text-shadow: tint($cc-blue-dark, 25%) 0 1px 0

  .image-container .gallery li
    cursor: pointer

  .team
    +overflow-fix()

    h1
      float: left
      width: 24%
      font-size: 1em
      line-height: 1em
      text-align: right
      text-transform: uppercase

      .slabtext
        line-height: 1em

    .people
      float: right
      width: 73%
      +overflow-fix()

      li
        float: left
        width: 30%
        height: 14em
        margin-left: 5%
        background: image-url('team/zach.jpg') no-repeat right top
        border: 1.5em solid $white
        font-size: 1em
        +transition-property(margin, height, background)
        +transition-duration(200ms)
        +transition-timing-function(ease-in)

        &:hover
          height: 16.4em
          margin-bottom: 2.6em
          background-position: right -120px

        &.zach
          margin-left: 0
        &.andrew
          background-image: image-url('team/andrew.jpg')
        &.alyssa
          background-image: image-url('team/alyssa.jpg')

  @media screen and (max-width: 45.3125em)
    section.team
      h1
        display: none

      .people
        float: none
        width: 100%

  @media screen and (max-width: 30em)
    section.team .people li
      background-position: center top
      border-width: 1em

      &:hover
        height: 14em
        margin-bottom: 0
        background-position: center top

  @media screen and (max-width: 20em)
    section.team .people li
      width: 100%
      height: 18.3em
      margin: 0 0 2em
      background-position: right top
      background-size: cover

      &:hover
        height: 18.3em
        margin-bottom: 2em
        background-position: right top
