- @title = 'Alyssa Nicoll'
- @content_class = 'team'

%section.body-copy
  %h2 Alyssa Nicoll – The Designer
  %p Alyssa is the newest member of our team and she does the designing for us. She is passionate about what she does and is always a hard worker as long as her coffee cup is filled.

%section.photo
  = image_tag 'team/alyssa.jpg'