- @title = 'Andrew Smith'
- @content_class = 'team'

%section.body-copy
  %h2 Andrew Smith – The Architect
  %p He likes to play with shiny things like Rails and Ruby to make our smidgy little web app ideas come to life. He is our little personal google. The man literally knows everything. At least, everything we've ever needed him to know.

%section.photo
  = image_tag 'team/andrew.jpeg'