- @title = 'Olivier Lacan'
- @content_class = 'team'

%section.body-copy
  %h2 Olivier Lacan – The Frenchman
  %p When he's not using his Frenchness as an excuse to do all sorts of odd things around the office, Olivier splits his time between his two kittens and trying to help websites make sense, with pixels and words.

%section.photo
  = image_tag 'team/olivier.jpg'