- @title = 'Zachary Nicoll'
- @content_class = 'team'

%section.body-copy
  %h2 Zachary Nicoll – The Integrator
  %p It's hard to tell on this photo, but Zach is actually an amphibian. While it's a bit uncanny at first, that allows him to be very focused on the task at hand and solve problems all of us have already given up on. Zach is our lead architect. If you can dream of it, he can make it happen in your browser.

%section.photo
  = image_tag 'team/alyssa.jpg'